.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 51;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
video#bgvid {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    filter: brightness(0.2);
    transform: scale(1.5);
}

.contact {
    form {
        overflow: hidden;
        padding: 22px;
        width: 100%;

        div {
            height: inherit;
        }

        input {
            outline: none;
            width: 100%;
            padding-left: 15px;
            color: black;
            background-color: #414141;
        }

        textarea {
            outline: none;
            width: 100%;
            padding: 3px 15px;
            margin-top: 20px;
            resize: none;
            color: black;
            background-color: #414141;
        }

        button {
            color: black;
            outline: none;
            margin-top: 20px;
            background-color: #414141;
            width: 14.5%;
            padding: 10px;
        }
    }
}

.alert {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.back {
    position: absolute;
    top: 40px;
    left: 60px;
}

.back-button {
    font-size: 13px;
    margin-right: 1px;
}

/* Webkit for inputs */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Edge */
    color: black;
}

input:-ms-input-placeholder, textarea::-ms-input-placeholder { /* Internet Explorer */
    color: black;
}

input::placeholder, textarea::placeholder {
    color: black;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
}

// Checkout
.custom-card-panel {
    padding:20px;
    background-color:#2b282859;
    border-radius:4px;
    color: #8e8989;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

//Shop
figure:hover {
    background:black;
}

.shop-loop-thumbnail {
    img:hover {
        opacity:0;
        position: relative;
        z-index: 3;
    }
    p {
        opacity:0;
        position: absolute;
        width:100%;
        text-align:center;
        top: 50%;
        z-index: 2;
    }
    &:hover {
        p {
            opacity:1;
        }
    }
}


// Responsive
@media screen and (max-width: 640px) {
    video#bgvid {
        transform: scale(3.7);
    }
}

@media screen and (min-width: 1440px) {
    video#bgvid {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 640px) {
    .infos {
        border: #404040 1px solid;
        box-shadow: 3px 3px 28px -5px black;
        display: flex;
        flex-direction: row;
        width: 90vw;
        height: 83vh;
    }

    .contact {
        align-items: center;
        justify-content: center;
        position: relative;
        width: 488.406px;
        background-color: black;
    }
}
