@font-face {
    font-family: orator;
    src: url('/fonts/orator.otf');
}
* {
    font-family: orator;
}
.h-500 {
    height: 500px;
}
.w-40 {
    width: 40vw;
}
.w-20 {
    width: 20vw;
}
.item-end {
    align-items: end;
}
