.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 51;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

video#bgvid {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  filter: brightness(0.2);
  transform: scale(1.5);
}

.contact form {
  overflow: hidden;
  padding: 22px;
  width: 100%;
}

.contact form div {
  height: inherit;
}

.contact form input {
  outline: none;
  width: 100%;
  padding-left: 15px;
  color: black;
  background-color: #414141;
}

.contact form textarea {
  outline: none;
  width: 100%;
  padding: 3px 15px;
  margin-top: 20px;
  resize: none;
  color: black;
  background-color: #414141;
}

.contact form button {
  color: black;
  outline: none;
  margin-top: 20px;
  background-color: #414141;
  width: 14.5%;
  padding: 10px;
}

.alert {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.back {
  position: absolute;
  top: 40px;
  left: 60px;
}

.back-button {
  font-size: 13px;
  margin-right: 1px;
}

/* Webkit for inputs */

input::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: black;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.custom-card-panel {
  padding: 20px;
  color: #8e8989;
}

.image-div {
  width: 400px;
  height: 613px;
  background-size: cover;
  background-position: center;
  transition: ease 0.3s;
}

.image-container {
  position: relative;
}

.image-container img,
.image-container div:hover {
  opacity: 0;
  position: relative;
  z-index: 3;
}

.image-container p {
  opacity: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  z-index: 2;
}

.image-container:hover p {
  opacity: 1;
}

@media screen and (max-width: 640px) {
  video#bgvid {
    transform: scale(3.7);
  }
}

@media screen and (min-width: 1440px) {
  video#bgvid {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 640px) {
  .infos {
    border: #404040 1px solid;
    box-shadow: 3px 3px 28px -5px black;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 83vh;
  }

  .contact {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 488.406px;
    background-color: black;
  }
}

@font-face {
  font-family: orator;
  src: url("/fonts/orator.otf");
}

* {
  font-family: orator;
}

a,
button:focus {
  outline: none;
}

.h-500 {
  height: 500px;
}

.w-40 {
  width: 40vw;
}

.w-20 {
  width: 20vw;
}

.w-80 {
  width: 80vw;
}

.item-end {
  align-items: end;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  margin: 96px;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 5;
  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

